/* LESS Document */
html {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #eee;
}
.clearFix {
  zoom: 1;
}
.clearFix:after {
  content: '';
  clear: both;
  display: block;
}
.head {
  width: 100%;
  height: 1.85rem;
  background: #fe5400;
  overflow: hidden;
  position: fixed;
  top: 0;
  padding-left: 0.15rem;
  padding-right: 0.3rem;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  box-sizing: border-box;
}
.head .logo {
  width: 1.35rem;
  float: left;
  height: 1rem;
  display: block;
}
.head .logo img {
  width: 100%;
  height: 100%;
}
.head .search-int {
  width: 13.825rem;
  float: left;
  height: 1.25rem;
  background: #b52600;
  border-radius: 0.1rem;
  margin-left: 0.25rem;
  font-size: 0.65rem;
  line-height: 1.25rem;
  color: #fff;
  text-align: center;
}
.head .search-int span:before {
  width: 0.75rem;
  height: 0.75rem;
  content: '';
  background: url(../img/search-icon.gif) no-repeat 0 0.125rem;
  background-size: 100% 100%;
  display: inline-block;
}
.banner {
  width: 100%;
  height: 5rem;
  background: #ccc;
  overflow: hidden;
  margin-top: 1.85rem;
  background: url(../img/banner.jpg) no-repeat;
  background-size: 100%;
}
.wrap-a {
  background: #fff;
  width: 100%;
  height: auto;
  zoom: 1;
  box-sizing: border-box;
  margin-bottom: 1px;
}
.wrap-a:after {
  content: '';
  clear: both;
  display: block;
}
.wrap-a ul {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  zoom: 1;
}
.wrap-a ul:after {
  content: '';
  clear: both;
  display: block;
}
.wrap-a ul li {
  width: 3.75rem;
  height: 3.975rem;
  float: left;
  padding-left: 1.125rem;
  box-sizing: border-box;
  margin-top: 0.5rem;
}
.wrap-a ul li a {
  width: 3.75rem;
  height: 3.975rem;
  overflow: hidden;
  display: block;
}
.wrap-a ul li a img {
  width: 2.25rem;
  height: 2.25rem;
}
.wrap-a ul li a p {
  font-size: 0.55rem;
  text-align: center;
  width: 2.25rem;
  color: #666;
}
.wrap-add-a {
  width: 100%;
  height: 1.75rem;
  background: #fff;
  zoom: 1;
}
.wrap-add-a:after {
  content: '';
  clear: both;
  display: block;
}
.wrap-add-a-left {
  width: 3.5rem;
  height: 1.2rem;
  padding: 0.15rem;
  box-sizing: border-box;
  border-right: 1px solid #787878;
  float: left;
  margin-top: 0.25rem;
  margin-left: 0.5rem;
  margin-right: 0.25rem;
}
.wrap-add-a-left img {
  width: 100%;
  height: 100%;
}
.wrap-add-a-right {
  margin-top: 0.125rem;
  width: 10.75rem;
  height: 1.4rem;
  line-height: 1.4rem;
  float: left;
  font-size: 0.6rem;
  color: #666;
  box-sizing: border-box;
  overflow: hidden;
}
.wrap-add-a-right span {
  padding: 0.1rem 0.1rem;
  border: 1px solid #F00E69;
  color: #F00E69;
  border-radius: 0.15rem;
}
.wrap-b {
  width: 100%;
  zoom: 1;
  height: 7.7246rem;
  margin-top: 0.5rem;
}
.wrap-b:after {
  content: '';
  clear: both;
  display: block;
}
.wrap-b-left {
  background: #fff;
  width: 6.4rem;
  height: 7.700775rem;
  float: left;
}
.wrap-b-left a img {
  width: 6.4rem;
  height: 7.700775rem;
}
.wrap-b-right {
  background: #fff;
  width: 9.55rem;
  height: 7.7rem;
  float: right;
}
.wrap-b-right .top {
  width: 100%;
  height: 3.075rem;
  background: #ccc;
}
.wrap-b-right .top a img {
  width: 100%;
  height: 100%;
}
.wrap-b-right .bottom {
  width: 100%;
  height: 4.625rem;
  zoom: 1;
}
.wrap-b-right .bottom:after {
  content: '';
  clear: both;
  display: block;
}
.wrap-b-right .bottom .left {
  width: 50%;
  height: 4.625rem;
  float: left;
}
.wrap-b-right .bottom .left img {
  width: 100%;
}
.wrap-b-right .bottom .right {
  width: 50%;
  height: 4.625rem;
  float: left;
}
.wrap-b-right .bottom .right img {
  width: 100%;
}
.classify-a {
  width: 100%;
  padding-left: 0.25rem;
  box-sizing: border-box;
  height: 1.55rem;
  zoom: 1;
}
.classify-a:after {
  content: '';
  clear: both;
  display: block;
}
.classify-a .left {
  width: 6.1rem;
  height: 1px;
  overflow: hidden;
  background: #666;
  float: left;
  margin-top: 0.775rem;
}
.classify-a .middle {
  width: 3.1rem;
  height: 1.55rem;
  line-height: 1.55rem;
  font-size: 0.6rem;
  color: #fe5400;
  float: left;
  margin-left: 0.2rem;
}
.classify-a .middle i {
  display: block;
  float: left;
  width: 0.75rem;
  height: 0.75rem;
  background: url(../img/csh-icon.png) no-repeat;
  background-size: 100%;
  margin-top: 0.375rem;
  margin-right: 0.125rem;
}
.classify-a .right {
  width: 6.1rem;
  height: 1px;
  overflow: hidden;
  background: #666;
  float: left;
  margin-top: 0.775rem;
}
.classify-a-01 {
  width: 100%;
  height: 10.05rem;
  zoom: 1;
  background: #fff;
}
.classify-a-01:after {
  content: '';
  clear: both;
  display: block;
}
footer {
  width: 100%;
  height: 1.85rem;
  background: #E73033;
  position: fixed;
  bottom: 0;
}
